<div class="header-wrapper" data-sticky-container>
  <div class="title-bar" data-sticky data-options="marginTop:0;">
    <div class="title-bar-left">
      <div class="title-bar-title">
        <div class="title-bar-logo"><a href="/" title=""><img src="assets/img/Linkticle_logo.svg" alt="logo" class="svg" /></a></div>
      </div>
    </div>
    <div class="title-bar-right">
      <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
        <button class="menu-icon light" type="button" data-toggle></button>
      </span>
      <div id="responsive-menu">
        <ul class="dropdown menu" data-dropdown-menu>
          <li>
            <a href="#">Projects</a>
            <ul class="menu vertical">
              <li><a href="#">Project One</a></li>
              <li><a href="#">Project Two</a></li>
              <li><a href="#">Project Three</a></li>
            </ul>
          </li>
          <li><a href="#">About us</a></li>
          <li><a href="#">What is RV</a></li>
          <li><a href="#">For Viewers</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>